.assignments {
  @include flex($fdirection: column, $alitems: center);
  height: auto;
  padding: 0;

  &__list {
    width: 500px;
    margin: 0;
  
    @include phone {
      width: 300px;
      height: 20px;
    }

    .assignment {
      padding-top: 10px;
    }
  }
}

