.card {
  @include flex($fdirection: row, $alitems: center);
  cursor: pointer;
  min-width: 800px;
  height: 100px;
  transition: all 0.1s;
  background-color: lighten($background-page,8%);
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  overflow: hidden;

  @include tablet {
    min-width: 650px;
  }

  @include phone {
    @include flex($fdirection: column, $jcontent: space-between, $alitems: center);
    min-width: 300px;
    width: 100%;
    min-height: 240px;
    max-height: 700px;
    text-align: center;
    padding-top: 20px;
  }

  .info {
    transition: all 0.2s;
    min-width: 200px;
    height: auto;
    padding: 0px 30px;
    font-family: 'Montserrat';
    font-weight: bold;

    @include phone {
      height: 300px;
    }

    & .title {
      font-family: $font-book-title;
      font-size: $font-S16;
      color: $background-book;
      letter-spacing: 1px;
      width: 100%;
    } 

    & .description {
      font-family: $font-book-text;
      font-size: 12px;
      font-weight: normal;
      color: $font-black-color;
      padding-bottom: 5px;

      @include phone {
        height: auto;
        align-self: center;
      }
    }
  }

  .bottom {
    height: 0px;
    overflow: hidden;
    width: 200px;
    font-size: 12px;
    color: $font-black-color;
    font-weight: normal;

    @include tablet {
      width: 100px;
    }
  }

  .book {
    transition: all 0.5s;
    width: 120px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    overflow: hidden;

  }

  .group {
    @include flex($fdirection: column);
    margin-left: auto;

    @include phone {
      margin-left: 0;
      $jcontent: center;
      height: auto;
    }
  }

  .members {
    transition: all 0.1s;
    padding: 40px;
    font-family: 'Montserrat';
    color: #CCC;
    background-color: lighten($background-book,5%);

    @include phone {
      padding: 30px 290px
    }

    & .current {
      font-family: $title-font;
      font-weight: bold;
      margin-right: 10px;

      @include phone {
        font-size: $font-S16;
        margin-right: 0;
      }
    }
      
    & .max {
      opacity: 0.5;
      margin-left: 10px;
    }
  }

  & button.simple {
    cursor: pointer;
    color: $font-white-color;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: $background-collapse;
    padding: 15px 20px;
    font-family: $main-font;
    font-weight: $font-medium;
    transition: all 0.1s;

    @include phone {
      width: 200px;
    }

    &:hover {
      box-shadow: 0px 15px 20px -5px rgba(0,0,0,.3);
      transform: translate(0,-2px);
    }
  }

  &.open {
    padding: 30px;
    width: 550px;
    height: auto;

    @include phone {
      width: 100%;
      min-width: 300px;
    }

    & .bottom {
      width: 90%;
      margin-top: 10px;
      height: 110px;
      overflow: visible;

      button {
        margin-bottom: 10px;
      }
    }

    & .book {
      transform: rotateY( 50deg );
      box-shadow: -10px 10px 10px 2px rgba(0,0,0,.2), -2px 0px 0px 0px #888;
      transition: all 0.5s;
      transition-delay: 0.05s;
    }

    & .info {
      @include flex($fdirection: column);
      transform: translate(0,-10px);

      @include phone {
        width: 100%;
      }
    }

    & .members {
      padding: 15px 20px;
      border-radius: 4px;
      align-self: flex-start;

      @include phone {
        align-self: auto;
      }
    }
  }
}
