.collapse {
  @include flex($fdirection: column, $jcontent: center, $alitems: center);
  width: 100%;

  &__header {
    @include flex($fdirection: row, $jcontent: space-between, $alitems: center);
    width: 90%;
    height: 52px;
    background-color: $background-collapse;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
    margin-left: 20px;
    margin-right: 20px;

    .collapse__title {
      font-family: $presentation-font;
      font-size: $font-S24;
      font-weight: $font-medium;
      margin: 0;
    }

    .collapse__arrow {
      transition: transform 0.5s ease;
    }

    .collapse__arrow.rotate {
      transform: rotate(180deg);
    }
  }

  &__content {
    width: 90%;
    background-color: $background-collapse;
    font-family: $info-font;
    font-size: $font-S18;
    font-weight: $font-regular;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    margin-top: -5px;
  }
}
