.form {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;

  @include phone {
    @include flex($fdirection: column);
    gap: 20px;
  }

  &__col.button {
    margin-top: 60px;
  }

  &__col {
    position: relative;
    width: 100%;
    margin: 20px 20px 30px 0;
    transition: 0.5s;

    .form__group {
      position: relative;
      width: 100%;
      height: auto;
      color: $font-white-color;

      input {
        position: absolute;
        width: 90%;
        height: 100%;
        background: transparent;
        outline: none;
        font-family: $info-font;
        font-size: $font-S24;
        padding: 10px 0 10px 20px;
        border: 5px solid rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
        color: $font-white-color;
        border-radius: 50px;
      }

      textarea {
        position: absolute;
        width: 90%;
        height: 100px;
        background: transparent;
        outline: none;
        font-family: $info-font;
        font-size: $font-S18;
        padding: 10px 0 10px 20px;
        border: 5px solid rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
        color: $font-white-color;
        border-radius: 50px;
      }

      label {
        line-height: 40px;
        color: $font-white-color;
        font-size: $font-S24;
        font-family: $presentation-font;
        margin: 0 0 0 30px;
        display: block;
        pointer-events: none;
      }

      &:nth-child(6){
        margin-top: 64px
      }

      input:focus, textarea:focus {
        border: 5px solid $font-white-color;
        transition: all 0.5s;
      }
    }

    input[type="submit"] {
      border: 5px solid rgba(0, 0, 0, 0.3);
      box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
      padding: 10px;
      height: 100%;
      width: 90%;
      cursor: pointer;
      outline: none;
      background: transparent;
      color: $font-white-color;
      line-height: 40px;
      font-family: $title-font;
      font-size: $font-S24;
      font-weight: 700;
      border-radius: 45px;
      transition: all 0.4s;

      @include phone {
        margin-top: 40px;
      }

      &:hover {
        border: 5px solid rgba(255, 255, 255, 1);
        color: $font-white-color;
        transition: all 0.4s;
      }
    }
  }

}