.footer {
  @include flex($fdirection: column, $jcontent: center, $alitems: center);
  width: 100%;
  height: 110px;
  background-color: $background-book;

  .footer__text {
    font-family: $title-font;
    font-size: $font-S18;
    font-weight: $font-medium;
    text-align: center;
  }
}
