.header {
    background-color: $background;
    @include flex($fdirection: row, $jcontent: space-between, $alitems: center);
    width: 100%;
    height: 60px;
    margin: 45px 0 45px 0;
    color: $font-white-color;

    .header__logo {
        font-family: $title-font;
        font-size: $font-S24;

        a {
            color: $font-white-color;
        }
    }

    .header__links {
        @include flex($fdirection: row, $alitems: center);
        gap: 55px;

        li {
            font-family: $title-font;
            font-size: $font-S18;
            font-weight: $font-medium;
            
            a {
                color: $font-white-color;
            }
        }
    }
}