.contact {
  @include flex($fdirection: column, $jcontent: flex-start, $alitems: center);
  width: 100%;
  height: 650px;

  .contact__title {
    font-family: $title-font;
    color: $font-white-color;
  }
}
