.contact {
  width: 70%;
  padding: 30px 90px 50px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}

  .contact__title {
    color: rgba(0, 0, 0, 0.3);
    font-family: $title-font;
    color: $font-white-color;
    text-align: center;
  }

