.projects {
  height: auto;
  margin-bottom: 15px;

  @include tablet {
    width: 90%;
    margin-top: 68px;
    margin-bottom: 0;
  }

  &__title {
    text-align: center;
    font-family: $title-font;
  }

  .achievements {
    @include flex($fdirection: column, $jcontent: center, $alitems: center);
    gap: 20px;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}
