.projects{
    height: 670px;
}

.flex-column{
    @include flex($fdirection: column);
}

.center {
    align-items:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.list {
    border-radius:3px;
    overflow:hidden;
    gap: 20px;
}